button{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}
button:hover{
    background-color: black;
    color: purple;
}

@media (max-width: 768px){
 .card{
     background-color: black;
     width: 100%;
     height: auto;
     padding: 10px;
     margin: 10px;
     align-items: baseline;
     flex: 2 1;
    }
}
.minerals1{
    width: 100%;
    padding: 20px;
}
img{
    width: 100%;
}

@media(min-width:769px) and (max-width:1100px){
    .card{
        background-color: black;
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px;
        align-items: baseline;
        flex: 3 1;
        align-content: flex-start;
    }
    
}
@media (min-width:1101px){
    .card{
        background-color: black;
        width: auto;
        height: auto;
        padding: 10px;
        margin: 10px;
        align-items: flex-start;
        flex: 2 1;
    }
}