@import"nav.css";
@import"card.css";
@import"blogpost stylesheet.css";
@import"aboutus.css";

@media (max-width: 768px){  
h1{
    color: white;
    font-size: 30px;
}

body{
    background-color: rgb(68, 64, 64);
    color: purple;
    font-size: 25px;
}

.container{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows:repeat(3 1fr);
    grid-gap: 3px;
    grid-template-areas:
    "hd hd hd"
    "sd sd sd"
    "main main main"
    "ft ft ft";
    justify-content: center;
}



.box{
    background-color: rgb(71, 62, 62);
    height: 100%;
    width: 100%;
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-start;
   flex-wrap: wrap;
   align-content: flex-start;
}
}

#header{
    grid-area: hd;
    background-image: url(../pictures/mainheader.jpg);
    background-color: blue;
    background-size: stretch;
}

#footer{
    grid-area:ft;
    background-color: rgb(37, 36, 36);
}

#sidebar{
    grid-area:sd;
}

#content{
    grid-area:main;
}
#nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 0;
    padding: 0;
}
.contentBox{
    width: 400px;
    height: 400px;
    background-color: rgb(4, 94, 94);
}
#one{
    background-image:url(../pictures/bloodcells.jpg) ;
    background-size: stretch;
}
#two{
    background-image: url(../pictures/minerals2.jpg);
    background-size: stretch;
}


@media(min-width:768px) and (max-width:1100px){

    h1{
        color: white;
        font-size: 40px;
    }
    
    body{
        background-color: rgb(68, 64, 64);
        color: purple;
        font-size: 25px;
    }
    .container{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns:repeat(4 100px);
    grid-template-rows:repeat(4 1fr);
    grid-gap: 2px;
    border: 2px solid white;
    grid-template-areas:
    "hd hd hd hd"
    "sd sd main main"
    "ft ft ft ft";
    }

    .box{
        background-color: rgb(71, 62, 62);
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        border: 1px solid black;
    }
}

 

    @media (min-width:1101px){

        h1{
            color: white;
            font-size: 50px;
            text-align: right;
        }
        
        body{
            background-color: rgb(68, 64, 64);
            color: purple;
            font-size: 25px;
        }
        .container{
            display: grid;
            width: auto;
            height: auto;
            grid-template-columns:repeat(12 1fr);
            grid-template-rows:150px 1fr 80px;
            grid-gap: 2px;
            border: 2px solid white;
            grid-template-areas:
            "hd hd hd hd hd hd hd hd hd hd hd hd"
            "sd sd sd sd sd main main main main main main main"
            "ft ft ft ft ft ft ft ft ft ft ft ft";
        }

        .box{
            background-color: rgb(71, 62, 62);
            height: 100%;
            width: 100%;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;
            align-content: flex-start;
            border: 1px solid black;
        }
    }